<div class="group"  ng-if="data.experience">
	<h3>Experince</h3>
	  <div class="content">
		  <ul ng-repeat="work in data.experience" class="content-experience">
		  	<li class="experience-duration">
		  		<span>{{work.from}} - {{work.to ? work.to : 'Present'}}</span>
		  	</li>
		  	<li class="experience-description">
		  		<span class="bold">{{work.title}}</span>
		  		<span ng-if="work.company">, {{work.company}}</span> 
		  		<span ng-if="work.location">, {{work.location}}</span> 
				<div ng-repeat="points in work.details" class="experience-details">
					- {{points}}
				</div>
		  	</li>
		  </ul>
		  <br class="clear" />
	  <div>
</div>