<div class="group"  ng-if="data.personal_information">
	<h3>Personal Informations</h3>
	<div class="content info-list">
		<ul class="responsive-ul">
			<li class="responsive-li"><span class="bold">First Name</span></li>
			<li class="responsive-li"> {{data.personal_information.father_name}}</li>

			<li class="responsive-li"><span class="bold">Date of Birth</span></li>
			<li class="responsive-li"> {{data.personal_information.date_of_birth}}</li>

			<li class="responsive-li"><span class="bold">Nationality</span></li>
			<li class="responsive-li"> {{data.personal_information.nationality}}</li>

			<li class="responsive-li"><span class="bold">Religion</span></li>
			<li class="responsive-li"> {{data.personal_information.religion}}</li>

			<li class="responsive-li"><span class="bold">Id Number</span></li>
			<li class="responsive-li"> {{data.personal_information.id_number}}</li>

			<li class="responsive-li"><span class="bold">Marital Status</span></li>
			<li class="responsive-li"> {{data.personal_information.marital_status}}</li>

			<li class="responsive-li"><span class="bold">Gender</span></li>
			<li class="responsive-li"> {{data.personal_information.gender}}</li>
		</ul>

	<br class="clear" />
	<div>
</div>
