<div class="resume-template">
	<div ng-include src="'views/resume/_resume_basic_info.html'"></div>
	<div ng-include src="'views/resume/_resume_summary.html'"></div>

	<div ng-include src="'views/resume/_resume_education.html'"></div>

	<div ng-include src="'views/resume/_resume_experince.html'"></div>
	<div ng-include src="'views/resume/_resume_skills.html'"></div>

	<div ng-include src="'views/resume/_resume_achievements.html'"></div>
	<div ng-include src="'views/resume/_resume_projects.html'"></div>

	<div ng-include src="'views/resume/_resume_extra_curriculars.html'"></div>
	<div ng-include src="'views/resume/_resume_interest_hobbies.html'"></div>

	<div ng-include src="'views/resume/_resume_personal_info.html'"></div>

	<div ng-include src="'views/resume/_resume_references.html'"></div>
</div>