
    <form ng-submit="parseJson()">
        <b>Paste your Resume Json here:</b>
        <textarea ng-model="enteredJson" id="resume-json" class="input-json"></textarea> <br />
        <input type="button" class="btn" value="Copy Sample Resume Json" data-clipboard-action="copy" data-clipboard-target="#sample-json">
        <span class="message">{{message}}</span>
        <input type="submit" value="Generate Resume" class="generate-btn">
    </form>

    <br /><b> Example Resume Json: </b>
    <pre class="sample-json" id="sample-json">{{sample_json | json}}</pre>
